:root{
    --main-font:'Lato', sans-serif;
    --roboto-font:'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: url("images/Sections-background/section-1(header).jpg") no-repeat;
    background-size: cover;
    height: 665px;
}

.navigation {
    width: 100%;
    height: 80px;
    background: linear-gradient(
            to top,
            rgba(95, 93, 89, 0.5),
            rgba(95, 93, 89, 0.5)
    );
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo-top {
    width: 0;
    border-bottom: 12px solid #18cfab;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.logo-mid > strong {
    /*padding: 10px 0px;*/
    font-family: sans-serif;
    font-size: 23px;
}

.logo-mid {

    color: white;
    text-align: center;
    width: 40px;
    height: 24px;
    background-color: #18cfab;
}

.logo-bottom {
    width: 0;
    border-top: 12px solid #18cfab;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

a > strong {
    font-size: 23px;
    color: #18cfab;
    font-family: var(--main-font);
}

a {
    font-family:var(--main-font);
    font-size: 23px;
    color: white;
    text-decoration: none;

}

/*.links, .nav-icon{*/
/*    display: inline-block;*/
/*}*/
.links > a {
    font-size: 12px !important;
    font-family:var(--main-font);
}

.logo-icon {
    display: inline-block;
    margin-right: 5px;
}

.logo {
    width: 10%;

}

.nav-link {
    margin-right: 15px;
}

.nav-icon {
    color: #b4b4b4;
    padding-top: 5px;
}

.nav-link:hover {
    margin-right: 15px;
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
    padding-bottom: 29px;
}

.slogan {
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 150px 0px;
}

.slogan span {
    color: #18cfab;
}

.slogan strong {
    font-size: 50px;
}

.slogan p {
    color: #d4d4d4;
}

.explore {
    padding: 17px 13px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #18cfab;
    border-radius: 4px;
    box-shadow: 0 -5px;
    margin-right: 5px;
}

.purchase {
    padding: 17px 11px;
    margin-top: 60px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #00cbf6;
    border-radius: 4px;
    box-shadow: 0 -5px;
    margin-left: 5px;
}

button {
    outline: none;
    border: none;
}

.second-part {
    width: 100%;
    height: 260px;

}

.second-part div:nth-child(1) {
    width: 25%;
    height: 160px;
    padding: 50px 0px;
    box-shadow: 0 -6px #18cfab;
    display: inline-block;
    /*border:1px solid #d4d4d4;*/
    background-color: #1c2a33;
    float: left;

    color: #18cfab;
    text-align: center;
    font-weight: bold;
    font-family:  var(--roboto-font);

}

.second-part div:nth-child(3) {
    width: 25%;
    height: 160px;
    padding: 50px 0px;
    box-shadow: 0 -6px #18cfab;
    display: inline-block;
    background-color: #1c2a33;
    float: left;
    color: #18cfab;
    text-align: center;
    font-weight: bold;
    font-family:  var(--roboto-font);

}

.second-part div:nth-child(1) img {
    padding-bottom: 30px;
}

.second-part div:nth-child(3) img {
    padding-bottom: 30px;
}

.second-part div:nth-child(2) img {
    padding-bottom: 42px;
}

.second-part div:nth-child(4) img {
    padding-bottom: 42px;
}

.second-part div:nth-child(2) {
    width: 25%;
    height: 140px;
    padding: 60px 0px;
    box-shadow: 0 -6px #fff;
    display: inline-block;
    background-color: #18cfab;
    float: left;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family:  var(--roboto-font);
}

.second-part div:nth-child(4) {
    width: 25%;
    height: 140px;
    padding: 60px 0px;
    box-shadow: 0 -6px #fff;
    display: inline-block;
    background-color: #18cfab;
    float: left;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family:  var(--roboto-font);
}

.section-title {
    width: 100%;
    color: black;
    height: 100px;
    padding: 60px 0px 20px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: lighter;

}

.section-title div::before {
    content: "";
    display: block;
    width: 100px;
    margin: 20px 30px 2px 50px;
    border-top: 1px solid #18cfab;
}

.section-title div:after {
    content: "";
    display: block;
    width: 100px;
    margin: 3px 70px 100px 70px;
    border-top: 1px solid #18cfab;
}

.border {
    width: 200px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.our-cervices-tabs {
    width: 80%;
    height: 325px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.context-container {
    width: 100%;
    height: 180px;
    margin-top: 15px;
    overflow: auto;
}

.tab-title {
    width: 16.45%;
    height: 20px;
    padding: 20px 0px;
    margin: auto 0;
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
    display: inline-block;
    text-align: center;
    color: #717171;
    font-weight: 300;
    cursor: pointer;
    font-family: sans-serif;
}


.tab-content img {
    float: left;
    padding: 20px 20px 0px 0px;
}

.tab-content p {
    padding: 10px 0px 0px 0px;

}

.active {
    border: 1px solid #18cfab;
    background-color: #18cfab;
    color: white;
    position: relative;
}

.active:after {
    content: " ";
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #18cfab transparent;
}

.purchase-section {
    text-align: center;
    width: 100%;
    height: 260px;
    padding: 70px 0;
    margin-left: auto;
    margin-right: auto;
    object-fit: none;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/Sections-background/section-2.jpg") no-repeat center;
    background-size: cover;


}

.purchase-section strong {
    color: #18cfab;
    font-size: 40px;
    font-family: 'Lexend Deca';
}

.purchase-section p {
    color: white;
    font-family: 'Jomolhari', serif;
    font-size: 18px;
}

.purchase-section .purchase {
    padding: 17px 11px;
    margin-top: 80px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #18cfab;
    border-radius: 4px;
    box-shadow: 0 -5px;
    margin-left: 5px;
}

.section-title p {
    padding: 0;
    margin: 0;
}

.our-amazing-work {
    width: 769px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;



}

.our-amazing-work-tab-title {
    height: 20px;
    padding: 20px 20px;
    margin: auto 0;
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
    display: inline-block;
    text-align: center;
    color: #717171;
    font-weight: 300;
    cursor: pointer;
    font-family: 'Lexend Deca';
}

.our-amazing-work-tabs {
    text-align: center;
}

.our-amazing-work-nav {
    width: 100%;
    margin-bottom: 40px;

}

footer {
    background-color: #22353f;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #7a7f82;


}

footer span {
    color: #18cfab;
}

.gallery-item {
    width: 25%;
    position: relative;
    float: right;

}

.gallery-hover-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f8fcfe;
    box-shadow: 0 -2px #18cfab;

}

.gallery-hover-title {
    color: #18cfab;
    margin: 0;
    padding: 0;
}

.gallery-hover-category {
    color: #8a8a8a;
    margin-bottom: 70px;

}

.gallery-hover-title,
.gallery-hover-category {
    width: 100%;
    text-align: center;
}

section {
    width: 100%;
    background-color: #f8fcfe;
    padding-bottom: 90px;
}

.gallery-item-img {
    width: 100%;
    height: auto;
}

.search {
    width: 40px;
    height: 20px;
    padding: 10px 0;
    border-radius: 50%;
    background-color: #18cfab;
    margin-top: 20px;
    margin-bottom: 30px;

    text-align: center;

}

.share {
    width: 40px;
    height: 16px;
    padding: 12px 0;
    border-radius: 50%;
    border: 1px solid #18cfab;
    margin-top: 20px;
    margin-right: 3px;
    text-align: center;
    margin-bottom: 30px;

}


.active-our-amazing-work {
    color: #18cfab;
    box-shadow: 0 -2px #18cfab;

}

.btn {
    color: white;
    background-color: #18cfab;
    padding: 20px;
    font-weight: bold;
    margin: 60px 30px 0 30px;

}

.btn img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.btn p {
    display: inline-block;
    margin: 0;
    padding: 0;
    /*float: right;*/
    /*clear: right;*/
    vertical-align: middle;
}


